h1,
h2,
h3,
ul,
p {
  margin: 0;
}

ul {
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  background-image: linear-gradient(
    180.11deg,
    #e5e2e3 10.73%,
    #fdfefe 38.02%,
    #e5e2e3 71.11%,
    #fdfefe 99.91%
  );

  cursor: url('/src/images/donut-mause.png'), pointer;
}

section {
  min-width: 100%;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

address {
  font-style: normal;
}

button {
  background: none;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
