h1,
h2,
h3,
ul,
p {
  margin: 0;
}

ul {
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  position: relative;
  background-image: linear-gradient(180.11deg, #e5e2e3 10.73%, #fdfefe 38.02%, #e5e2e3 71.11%, #fdfefe 99.91%);
}

section {
  min-width: 100%;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

address {
  font-style: normal;
}

button {
  background: none;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.container {
  max-width: 320px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1280px;
  }
}

.button {
  display: inline-block;
  width: 145px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  background: #f3848c;
  box-shadow: 10px 15px 25px rgba(232, 183, 183, 0.45);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color, 250ms, easy;
}
.button:hover, .button:focus {
  background-color: #ffffff;
  border: 1px solid #f3848c;
  color: #f3848c;
}
.button:active {
  box-shadow: 10px 15px 25px rgba(232, 183, 183, 0.45), inset 0px 4px 4px rgba(107, 66, 66, 0.25);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .header__container {
    align-items: center;
    justify-content: flex-start;
    padding-top: 36px;
    padding-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .logo-company__icon {
    width: 158px;
    height: 70px;
    margin-right: 55px;
  }
}

@media screen and (min-width: 1280px) {
  .js-open-menu {
    display: none;
  }
}

.header__icon-burger {
  cursor: pointer;
}

.site-nav__list {
  display: none;
  align-items: center;
}
@media screen and (min-width: 1280px) {
  .site-nav__list {
    display: flex;
  }
}

.site-nav__item {
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.site-nav__item:not(:first-child) {
  margin-left: 12px;
}

.site-nav__link {
  padding: 4px 8px;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
  color: #3c322d;
}
.site-nav__link:hover, .site-nav__link:focus {
  background: linear-gradient(180deg, rgba(248, 110, 103, 0.63) 0%, rgba(253, 86, 143, 0.86) 100%);
  box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);
  color: #fff;
}

.modal-window {
  position: absolute;
  z-index: 50;
  top: 0;
  left: 0;
  transform: translateY(-200%);
  width: 100%;
  height: 100vh;
  background-color: #e5e2e3;
  transition: transform 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.modal-window__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

.modal-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-nav__item {
  text-align: center;
}
.modal-nav__item:not(:last-child) {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .modal-nav__item:not(:last-child) {
    margin-bottom: 60px;
  }
}

.modal-nav__link {
  width: 174px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  cursor: pointer;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0;
  color: #3c322d;
  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.modal-nav__link:hover, .modal-nav__link:focus {
  background: linear-gradient(180deg, rgba(248, 110, 103, 0.63) 0%, rgba(253, 86, 143, 0.86) 100%);
  box-shadow: 0px 7px 27px -2px rgba(253, 88, 140, 0.35);
  color: #fff;
}
@media screen and (min-width: 768px) {
  .modal-nav__link {
    width: 225px;
    font-size: 40px;
  }
}

.modal-window__icon-close {
  cursor: pointer;
}

.is-open {
  transform: translateY(0);
}

.hero {
  background-image: url("./../images/header-hero/hero-background__mobile.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 312px;
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: url("./../images/header-hero/hero-background.jpg");
    height: 345px;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 556px;
  }
}

.hero__container {
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero__container {
    top: 98px;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1280px) {
  .hero__container {
    top: 171px;
  }
}

.hero__title {
  margin-bottom: 18px;
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #3c322d;
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 319px;
    font-size: 30px;
    margin-bottom: 10px;
    letter-spacing: 0em;
    text-align: left;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    width: 757px;
    margin-bottom: 20px;
    font-size: 60px;
  }
}

.hero__subtitle {
  margin-bottom: 28px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25em;
  color: #3c322d;
}
@media screen and (min-width: 768px) {
  .hero__subtitle {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__subtitle {
    margin-bottom: 28px;
  }
}

.hero__button {
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .hero__button {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__button {
    margin-bottom: 32px;
  }
}

.social-media__link:not(:last-child) {
  margin-right: 16px;
}

.social-media__icon {
  fill: #3c322d;
}
.social-media__icon:hover, .social-media__icon:focus {
  fill: #f3848c;
}
.social-media__icon:active {
  fill: #f3848c;
}

.aboutus {
  padding-top: 20px;
  padding-bottom: 18px;
}
@media screen and (min-width: 768px) {
  .aboutus {
    padding-bottom: 29px;
    padding-top: 36px;
  }
}
@media screen and (min-width: 1280px) {
  .aboutus {
    padding-bottom: 17px;
    padding-top: 43px;
  }
}

.aboutus__container {
  display: block;
  background-image: url("../images/program/circles-bg.png");
  background-position: center;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .aboutus__container {
    display: flex;
  }
}

.aboutus__title {
  margin-bottom: 8px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #3c322d;
}
@media screen and (min-width: 768px) {
  .aboutus__title {
    text-align: left;
    margin-bottom: 28px;
    font-size: 32px;
    line-height: 39px;
  }
}

.aboutus__text {
  line-height: 1.25;
}
.aboutus__text:not(:last-of-type) {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .aboutus__text {
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .aboutus__text {
    width: 608px;
    font-size: 18px;
    line-height: 22px;
  }
}

.aboutus__img {
  display: block;
  width: 280px;
  height: 285px;
}
@media screen and (max-width: 767px) {
  .aboutus__img {
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 768px) {
  .aboutus__img {
    width: 336px;
    height: 359px;
    margin-right: 31px;
  }
}
@media screen and (min-width: 1280px) {
  .aboutus__img {
    width: 608px;
    height: 381px;
    margin-right: 32px;
  }
}

.visually-hidden {
  display: none;
}
@media screen and (min-width: 1280px) {
  .visually-hidden {
    display: block;
  }
}

.aboutus__button {
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
@media screen and (min-width: 768px) {
  .aboutus__button {
    font-size: 18px;
    line-height: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .aboutus__button {
    display: none;
  }
}

.program {
  padding-top: 50px;
}

.program__container {
  background-image: url("../images/program/circles-bg.png");
  background-position: center;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .program__container {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .program__box {
    width: 329px;
    margin-right: 39px;
  }
}
@media screen and (min-width: 1280px) {
  .program__box {
    width: 418px;
    margin-right: 118px;
    padding-top: 80px;
  }
}

.program__title {
  margin-bottom: 8px;
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #3c322d;
}
@media screen and (min-width: 768px) {
  .program__title {
    margin-bottom: 28px;
    text-align: left;
    font-size: 32px;
    line-height: 39px;
  }
}
@media screen and (min-width: 1280px) {
  .program__title {
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 39px;
  }
}

.program__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #3c322d;
}
@media screen and (min-width: 1280px) {
  .program__text {
    font-size: 18px;
    line-height: 22px;
  }
}

.program__text--hidden {
  margin-bottom: 24px;
}
@media screen and (min-width: 1280px) {
  .program__text--hidden {
    width: 392px;
  }
}

.program__list {
  margin-top: 8px;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .program__list {
    margin-top: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .program__list {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
}

.program__item {
  display: flex;
  align-items: center;
}
.program__item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1280px) {
  .program__item:not(:last-child) {
    margin-bottom: 16px;
  }
}

.program__item::before {
  content: "";
  display: block;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url(../images/price/paragraph-icon.svg);
}
@media screen and (min-width: 1280px) {
  .program__item::before {
    margin-right: 15px;
  }
}

.program__wrap-cont {
  display: flex;
  justify-content: space-between;
  height: 309px;
}
@media screen and (min-width: 768px) {
  .program__wrap-cont {
    width: 337px;
    height: 403px;
    padding-top: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .program__wrap-cont {
    width: 716px;
    height: 698px;
  }
}

.program__wrap-s {
  display: flex;
  flex-direction: column;
}

.program__wrapper-t {
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .program__wrapper-t {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .program__wrapper-t {
    margin-bottom: 40px;
  }
}

.program__wrap-s-r {
  justify-content: end;
}
@media screen and (min-width: 768px) {
  .program__wrap-s-r {
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .program__wrap-s-r {
    justify-content: end;
  }
}

.program__wrapper {
  position: relative;
}

.program__img {
  display: block;
  width: 130px;
  height: 130px;
}
@media screen and (min-width: 768px) {
  .program__img {
    width: 152px;
    height: 152px;
  }
}
@media screen and (min-width: 1280px) {
  .program__img {
    width: 288px;
    height: 288px;
  }
}

.program__overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 62px;
  background: linear-gradient(0.1deg, rgba(0, 0, 0, 0.72) -10.83%, rgba(156, 156, 156, 0) 68.01%);
  border: 1px solid #f3848c;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  width: 130px;
  height: 130px;
}
@media screen and (min-width: 768px) {
  .program__overlay {
    width: 152px;
    height: 152px;
    padding-top: 79px;
  }
}
@media screen and (min-width: 1280px) {
  .program__overlay {
    width: 288px;
    height: 288px;
    padding-top: 191px;
  }
}

.program__event-title {
  margin-bottom: 8px;
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
@media screen and (min-width: 768px) {
  .program__event-title {
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .program__event-title {
    font-size: 24px;
    line-height: 29px;
  }
}

.program__event-descr {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
@media screen and (min-width: 768px) {
  .program__event-descr {
    font-size: 14px;
    line-height: 17px;
  }
}
@media screen and (min-width: 1280px) {
  .program__event-descr {
    font-size: 16px;
    line-height: 20px;
  }
}

.program__button {
  padding: 0;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
@media screen and (min-width: 768px) {
  .program__button {
    font-size: 18px;
    line-height: 22px;
  }
}
@media screen and (min-width: 1280px) {
  .program__button {
    display: none;
  }
}

.speakers {
  padding-top: 34px;
}
@media screen and (min-width: 768px) {
  .speakers {
    padding-top: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .speakers {
    padding-top: 100px;
  }
}

.speakers__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .speakers__list {
    flex-wrap: nowrap;
    gap: 0;
  }
}

@media screen and (min-width: 768px) {
  .speakers__item:not(:last-child) {
    margin-right: 32px;
  }
}

.speakers__item {
  flex-basis: calc((100% - 20px) / 2);
}

.speakers__title {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: #3c322d;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .speakers__title {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.22;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .speakers__title {
    margin-bottom: 5px;
  }
}

.speakers__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #3c322d;
  margin: 12px 0;
}
@media screen and (min-width: 768px) {
  .speakers__subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    margin: 20px 0;
  }
}

.speakers__paragraph {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  color: #3c322d;
}
@media screen and (min-width: 768px) {
  .speakers__paragraph {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
  }
}
@media screen and (min-width: 1280px) {
  .speakers__paragraph {
    font-weight: 500;
    font-size: 16px;
  }
}

.price {
  padding-top: 39px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .price {
    padding-top: 75px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .price {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.price__title {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #2e2520;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .price__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 27px;
  }
}

.price__card {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .price__card {
    flex-direction: row;
  }
}

.price__items {
  background-color: #fafbfb;
  border-radius: 25px;
  padding: 20px 19px 20px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.price__items:not(:first-child) {
  background-image: url(../images/price/bgc-mob-min.png);
  background-repeat: no-repeat;
  background-position: center 74%;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .price__items:not(:first-child) {
    background-image: url(../images/price/bgc-mob@2x-min.png);
  }
}
@media screen and (min-width: 768px) {
  .price__items {
    width: 225px;
    height: 580px;
    padding: 20px 9px 20px 8px;
    background-image: url(../images/price/bgc-tab-min.png);
    background-repeat: no-repeat;
    background-position: center 76%;
    background-size: 200px 145px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .price__items {
    background-image: url(../images/price/bgc-tab@2x-min.png);
  }
}
@media screen and (min-width: 1280px) {
  .price__items {
    padding: 28px 9px 40px 10px;
    height: 610px;
    width: 395px;
    background-size: 300px 218px;
    background-image: url(../images/price/bgc-desk-min.png);
    background-repeat: no-repeat;
    background-position: center 74%;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .price__items {
    background-image: url(../images/price/bgc-desk@2x-min.png);
  }
}

.price__items:hover,
.price__items:focus {
  border: 1px solid #f3848c;
}

.price__items .button {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}
@media screen and (max-width: 767px) {
  .price__items .button {
    margin-top: 32px;
  }
}

@media screen and (max-width: 767px) {
  .price__items:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 768px) {
  .price__items:not(:last-child) {
    margin-right: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .price__items:not(:last-child) {
    margin-right: 32px;
  }
}

.price__subtitle {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #2e2520;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .price__subtitle {
    font-size: 18px;
    margin-bottom: 17px;
  }
}
@media screen and (min-width: 1280px) {
  .price__subtitle {
    font-size: 20px;
    color: #3c322d;
    margin-bottom: 40px;
  }
}

.price__item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #2e2520;
  padding-left: 38px;
}
@media screen and (min-width: 768px) {
  .price__item p {
    font-size: 15px;
    line-height: 1.2;
    padding-left: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .price__item p {
    font-size: 18px;
    line-height: 1.22;
    color: #3c322d;
    padding-left: 42px;
  }
}

.price__item:not(:last-child) {
  margin-bottom: 10px;
}
@media screen and (min-width: 1280px) {
  .price__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

.price__item::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/price/paragraph-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
}

@media screen and (min-width: 320px) {
  .reviews {
    background-image: url("../images/mobile-background.png");
  }
}
@media screen and (min-width: 768px) {
  .reviews {
    background-image: url("../images/tablet-background.png");
  }
}
@media screen and (min-width: 1280px) {
  .reviews {
    background-image: url("../images/background.png");
  }
}

@media screen and (min-width: 1280px) {
  .reviews__container {
    width: 1033px;
  }
}

.reviews__title {
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .reviews__title {
    margin-bottom: -15px;
  }
}
@media screen and (min-width: 1280px) {
  .reviews__title {
    margin-bottom: 35px;
  }
}

.swiper {
  width: 100%;
  overflow: hidden;
}

.swiper__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.swiper__slide {
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .swiper__slide .swiper__comment {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .swiper-slide-active {
    flex-basis: 336px;
    margin-top: 76px;
  }
  .swiper-slide-active .swiper__comment {
    position: absolute;
    display: block;
    width: 100%;
  }
  .swiper-slide-active[data-swiper-slide-index="0"] .swiper__comment {
    left: calc(166% + 64px);
  }
  .swiper-slide-active[data-swiper-slide-index="1"] .swiper__comment {
    left: calc(100% + 32px);
  }
  .swiper-slide-active[data-swiper-slide-index="2"] .swiper__comment {
    left: calc(134% + 32px);
  }
}
@media screen and (min-width: 1280px) {
  .swiper-slide-active {
    flex-basis: 394px;
    margin-top: 143px;
  }
  .swiper-slide-active .swiper__comment {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .swiper-slide-prev,
.swiper-slide-next {
    flex-basis: calc((100% - 64px - 336px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .swiper-slide-prev,
.swiper-slide-next {
    flex-basis: calc((100% - 64px - 394px) / 2);
  }
}

.swiper__image {
  margin-bottom: 8px;
  border-radius: 50%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .swiper__image {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.swiper__rate {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  cursor: pointer;
  fill: #edd501;
}

.swiper__name {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 500;
  font-style: italic;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .swiper__name {
    font-size: 16px;
    line-height: 1.25;
  }
}

.swiper__comment {
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .swiper__comment {
    font-size: 18px;
    line-height: 1.22;
  }
}

.swiper__pagination {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  font-size: 14;
  line-height: 1.21;
  color: #f3848c;
}
.swiper__pagination::before, .swiper__pagination::after {
  content: "";
  display: block;
  width: 35px;
  height: 1px;
  background-color: #f3848c;
}
.swiper__pagination::before {
  margin-right: 12px;
}
.swiper__pagination::after {
  margin-left: 12px;
}
@media screen and (min-width: 768px) {
  .swiper__pagination {
    margin-top: 112px;
  }
}
@media screen and (min-width: 1280px) {
  .swiper__pagination {
    margin-top: 98px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  width: 50px;
  height: 50px;
}

.top-image {
  width: 150px;
  height: 150px;
}

.bottom-top {
  position: fixed;
  z-index: 999;
  bottom: 70px;
  right: 15px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.bottom-top_hide {
  display: none;
  opacity: 0;
}

.bottom-top_hiding {
  opacity: 0;
}

.text-top {
  font-size: 25px;
  color: #f3848c;
  font-weight: 800;
}
.text-top:hover, .text-top:focus {
  color: yellow;
}

.section__title {
  margin-bottom: 18px;
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #3c322d;
}

.registration__form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 394px;
  min-width: 280px;
  margin: 27px 20px 40px;
  color: white;
  background-image: linear-gradient(to right, rgba(61, 44, 44, 0.6) 100%, rgba(61, 44, 44, 0.6) 100%), url(../images/Registration/registration-mob-min.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.registration__form:first-child::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -10px;
  width: 1px;
  height: 22px;
  background-color: currentColor;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .registration__form {
    background-image: url(../images/Registration/registration-mob@2x-min.png);
  }
}
@media screen and (min-width: 768px) {
  .registration__form {
    align-items: center;
    background-color: #F6F7F7;
    background-image: url(../images/Registration/registration-tablet-min.png);
    background-size: cover;
    opacity: 1;
    height: 246px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .registration__form {
    background-image: url(../images/Registration/registration-tablet@2x-min.png);
  }
}
@media screen and (min-width: 1200px) {
  .registration__form {
    align-items: center;
    background-color: #F6F7F7;
    background-image: url(../images/Registration/registration-desktop-min.png);
    background-size: cover;
    opacity: 1;
    height: 246px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .registration__form {
    background-image: url(../images/Registration/registration-desktop@2x-min.png);
  }
}

.registration__form:first-child {
  align-self: center;
}

.registration__input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  z-index: 10;
}

::placeholder {
  color: white;
}

.conteiner__registration {
  background-color: inherit;
  border-radius: 10px;
}/*# sourceMappingURL=index.css.map */