$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat Alternates', sans-serif;
$background-color: #bdbdbd;
$text-color: #3c322d;
$paragraph-text-color: #2e2520;
$bgc-colol-card: #fafbfb;
$accent-color: #f3848c;
$lightgrey-color: #e5e2e3;
$white-color: #ffffff;
