<footer class="footer">
  <div class="container">
    <ul>
      <li>
        <a href="tel:+1910222-8855"
          ><svg class="footer__icon" width="13px" height="13px">
            <use href="./images/sprite.svg#icon-phone"></use>
          </svg>
          (910)222-8855</a
        >
      </li>
      <li class="small-donuts-pic"></li>
      <li>
        <address>
          <a href="https://www.google.com/maps/@40.6971494,-74.2598655,10z" target="_blank" rel="noreferrer noopener"
            ><svg class="footer__icon" width="20px" height="14px">
              <use href="./images/sprite.svg#icon-location"></use>
            </svg>
            New York</a
          >
        </address>
      </li>
    </ul>
  </div>
</footer>

