<header class="header">
  <div class="preloader">
    <p class="preloader-text">Loading...</p>
    <img class="preloader__image" src="/src/images/donat.png" alt="Will" />
  </div>
  <div class="container header__container">
    <a href="./index.html" class="logo-company">
      <svg class="logo-company__icon" width="108px" height="50px">
        <use href="./images/sprite.svg#icon-logo-company"></use>
      </svg>
    </a>
    <nav class="site-nav">
      <ul class="site-nav__list">
        <li class="site-nav__item">
          <a href="#aboutus" class="site-nav__link">About us</a>
        </li>
        <li class="site-nav__item">
          <a href="#program" class="site-nav__link">Program</a>
        </li>
        <li class="site-nav__item">
          <a href="#speaker" class="site-nav__link">Speaker</a>
        </li>
        <li class="site-nav__item">
          <a href="#price" class="site-nav__link">Price</a>
        </li>
        <li class="site-nav__item">
          <a href="#reviews" class="site-nav__link">Reviews</a>
        </li>
        <li class="site-nav__item">
          <a href="#contact" class="site-nav__link">Contact</a>
        </li>
      </ul>
    </nav>
    <div
      class="js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
      role="tablist"
    >
      <div role="tab" id="mobile-menu" class="mobile-menu site-nav__icon"></div>
    </div>
  </div>
  <div class="modal-window js-menu-container" id="close-menu">
    <div class="container">
      <nav class="modal-nav">
        <ul class="modal-nav__list">
          <li class="modal-nav__item">
            <a href="#aboutus" class="modal-nav__link">About us</a>
          </li>
          <li class="modal-nav__item">
            <a href="#program" class="modal-nav__link">Program</a>
          </li>
          <li class="modal-nav__item">
            <a href="#speaker" class="modal-nav__link">Speaker</a>
          </li>
          <li class="modal-nav__item">
            <a href="#price" class="modal-nav__link">Price</a>
          </li>
          <li class="modal-nav__item">
            <a href="#reviews" class="modal-nav__link">Reviews</a>
          </li>
          <li class="modal-nav__item">
            <a href="#contact" class="modal-nav__link">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
