<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title">Donut Masterclass with the Donut King</h1>
    <h2 class="hero__subtitle">Hosted by Eva Green</h2>
    <a href="#register" class="button hero__button"> Register </a>
    <div class="social-media">
      <a href="#" class="social-media__link">
        <svg class="social-media__icon" width="16px" height="16px">
          <use href="./images/sprite.svg#icon-twitter"></use>
        </svg>
      </a>
      <a href="#" class="social-media__link">
        <svg class="social-media__icon" width="16px" height="16px">
          <use href="./images/sprite.svg#icon-instagram"></use>
        </svg>
      </a>
      <a href="#" class="social-media__link">
        <svg class="social-media__icon" width="16px" height="16px">
          <use href="./images/sprite.svg#icon-facebook"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
