<section id="price" class="price">
  <div class="container">
    <h2 class="price__title">Price</h2>
    <ul class="price__card">
      <li class="price__items">
        <h3 class="price__subtitle">Easy start</h3>
        <ul class="price__description">
          <li class="price__item">
            <p>features of yeast dough preparation</p>
          </li>

          <li class="price__item">
            <p>preparation of liquid caramel for stuffing</p>
          </li>

          <li class="price__item">
            <p>preparation of raspberry and strawberry filling</p>
          </li>

          <li class="price__item">
            <p>fry and glaze donuts</p>
          </li>
        </ul>
        <a href="#register" class="button btn">Register</a>
      </li>

      <li class="price__items">
        <h3 class="price__subtitle">I want delicious donuts</h3>
        <ul class="price__description">
          <li class="price__item">
            <p>features of yeast dough preparation</p>
          </li>

          <li class="price__item">
            <p>preparation of liquid caramel for stuffing</p>
          </li>

          <li class="price__item">
            <p>preparation of raspberry and strawberry filling</p>
          </li>

          <li class="price__item">
            <p>melt chocolate for decoration</p>
          </li>

          <li class="price__item">
            <p>fry and glaze donuts</p>
          </li>

          <li class="price__item">
            <p>donut decoration. painting and various techniques</p>
          </li>
        </ul>
        <a href="#register" class="button btn">Register</a>
      </li>

      <li class="price__items">
        <h3 class="price__subtitle">Premium</h3>
        <ul class="price__description">
          <li class="price__item">
            <p>features of yeast dough preparation</p>
          </li>

          <li class="price__item">
            <p>preparation of liquid caramel for stuffing</p>
          </li>

          <li class="price__item">
            <p>preparation of raspberry and strawberry filling</p>
          </li>

          <li class="price__item">
            <p>melt chocolate for decoration</p>
          </li>

          <li class="price__item">
            <p>fry and glaze donuts</p>
          </li>

          <li class="price__item">
            <p>donut decoration. painting and various techniques</p>
          </li>

          <li class="price__item">
            <p>After party and donut tasting with speakers</p>
          </li>

          <li class="price__item">
            <p>2 private lessons with one of the speakers</p>
          </li>
        </ul>
        <a href="#register" class="button btn">Register</a>
      </li>
    </ul>
  </div>
</section>
