<section class="program">
  <div class="program__container container">
    <h2 class="program__title">Program</h2>

    <p>
      Indulge in this immersive sweet treat experience with The Chef Donut Queen
      in her New York donut shop!
    </p>

    <ul class="program__list-icon">
      <li class="program__item-icon">
        <svg><use></use></svg>
        <span>A stand up history of donuts</span>
      </li>
      <li class="program__item">
        <svg><use></use></svg>
        <span>Make 3 donut flavors of your choice</span>
      </li>
      <li class="program__item">
        <svg><use></use></svg>
        <span>Enjoy all-you-can-eat donuts</span>
      </li>
      <li class="program__item">
        <svg><use></use></svg>
        <span>Cocktail pairings and coffee included</span>
      </li>
      <li class="program__item">
        <svg><use></use></svg>
        <span>Photoshoot by professional photographer</span>
      </li>
      <li class="program__item">
        <svg><use></use></svg>
        <span>Secret receipt of cooking from Eva</span>
      </li>
      <li class="program__item">
        <svg><use></use></svg>
        <span>All products are included in the price</span>
      </li>
    </ul>
    <p>
      Come with your dear people and friends and you will spend an unforgettable
      time and will become a real professional in donuts cooking!
    </p>

    <button><span>Read more</span></button>

    <ul>
      <li>
        <img src="#" alt="" />
        <p>Type of the event</p>
      </li>
      <li>
        <img src="#" alt="" />
        <p>Time of the event</p>
      </li>
      <li>
        <img src="#" alt="" />
        <p>Number of guests</p>
      </li>
      <li>
        <img src="#" alt="" />
        <p>The host speaks</p>
      </li>
    </ul>
  </div>
</section>
