<section class="registration">
<div class="conteiner">
<h2 class="Section__title"> Registration</h2>
<form class="registration-form" name="signup_form" autocomplete="on" novalidate>
  
  <p>
    23 May, 11:00 <br> New York <time datetime="23-05T11:00"></time>
  </p>  
    <label>
        Name
        <input type="Name" name="email" />
    </label>

    <label>
        Phone number
        <input type="tel" name="Phone" />
    </label>
    <label>
        Email
        <input type="email" name="email" />
    </label>

    <button class="button registration-button" type="submit">Register</button>
</form>


</div>
</section>