
<section id="register" class="registration">
  <div class="container registration__container">
    <h2 class="registration__title">Registration</h2>
    <form
      class="registration__form"
      name="signup_form"
      autocomplete="on"
      novalidate>
      
      <p class="registration__time-date">
         May 23, 11:00 New York
      </p>
      <div class="registration__box">
      <p class="registration__subtitle">
        Apply your personal info </br> for registration
      </p>
      <label>
        <input
          class="registration__input"
          type="text"
          name="name"
          placeholder="Name"
          required
          pattern="[A-Za-z0-9 ]{3,}"
        />
      </label>

      <label>
        <input
          class="registration__input"
          type="tel"
          name="phone"
          placeholder="Phone number (10 digitas)"
          required
          pattern="[0-9]{10}"
        />
      </label>
      <label>
        <input
          class="registration__input"
          type="email"
          name="email"
          placeholder="Email"
          required
        />
      </label>
      </div>
      <button class="button" type="submit">Register</button>
    </form>
  </div>
</section>
