<section id="reviews" class="reviews-section">
  <div class="container reviews">
    <h2 class="reviews__title">Reviews</h2>

    <ul class="reviews__list">
      <li class="reviews__item item-John">
        <picture class="reviews__images">
         
        </picture>
        <div>
          <ul class="star__list">
            <li class="star__item">
              <svg class="star__icon">
                <use href="#"></use>
              </svg>
            </li>
            <li class="star__item">
              <svg class="star__icon">
                <use href="#"></use>
              </svg>
            </li>
            <li class="star__item">
              <svg class="star__icon">
                <use href="#"></use>
              </svg>
            </li>
            <li class="star__item">
              <svg class="star__icon">
                <use href="#"></use>
              </svg>
            </li>
            <li class="star__item">
              <svg class="star__icon">
                <use href="#"></use>
              </svg>
            </li>
          </ul>
          <p>John</p>
        </div>
      </li>

      <li class="reviews__item item-Will">
        <picture>
        </picture>

        <div>
          <ul class="star__list">
            <li class="star__item">
              <svg class="star__icon">
                <use href="#"></use>
              </svg>
            </li>
            <li class="star__item">
              <svg class="star__icon">
                <use href="#"></use>
              </svg>
            </li>
            <li class="star__item">
              <svg class="star__icon">
                <use href="#"></use>
              </svg>
            </li>
            <li class="star__item">
              <svg class="star__icon">
                <use href="#"></use>
              </svg>
            </li>
            <li class="star__item">
              <svg class="star__icon">
                <use href="#"></use>
              </svg>
            </li>
          </ul>
          <p>Will</p>
        </div>
      </li>

      <li class="reviews__item item-Elisabeth">
        <picture>
        </picture>

        <div>
        <div>
          <ul class="star__list">
            <li class="star__item">
              <svg class="star__icon">
                <use href="#"></use>
              </svg>
            </li>
            <li class="star__item">
              <svg class="star__icon">
                <use href="#"></use>
              </svg>
            </li>
            <li class="star__item">
              <svg class="star__icon">
                <use href="#"></use>
              </svg>
            </li>
            <li class="star__item">
              <svg class="star__icon">
                <use href="#"></use>
              </svg>
            </li>
            <li class="star__item">
              <svg class="star__icon">
                <use href="#"></use>
              </svg>
            </li>
          </ul>
          <p>Elisabeth</p>
        </div>
      </li>
    </ul>

    <div class="reviews__descriprtion">
      <p>
        Last time I have visited a cooking course by Eva 
I was impressed with the way she explained everything
to people. You can be sure you will manage to cook a delicious dish even if it is your first time in the kitchen!
Thank you so much for the masterclass! Looking forward to the next one and highly recommend it to everyone!
      </p>

       <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab doloremque
        dolores molestias ut asperiores voluptatum iusto deleniti adipisci.
        Voluptatum deserunt amet optio id accusamus ipsa corporis, at maxime
        velit odio.
      </p>

       <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab doloremque
        dolores molestias ut asperiores voluptatum iusto deleniti adipisci.
        Voluptatum deserunt amet optio id accusamus ipsa corporis, at maxime
        velit odio.
      </p>
      
    </div>
  </div>  
</section>