<section id="speaker" class="speakers">
  <div class="container">
    <h2 class="speakers__title">Speakers</h2>
    <ul class="speakers__list">
      <li class="speakers__item">
        <picture>
          <source
            srcset="
              ./images/speakers/molly-desk-min.png    1x,
              ./images/speakers/molly-desk@2x-min.png 2x
            "
            width="288"
            height="305"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/speakers/molly-tab-min.png    1x,
              ./images/speakers/molly-tab@2x-min.png 2x
            "
            media="(min-width: 768px)"
            width="152"
            height="160"
          />
          <source
            srcset="
              ./images/speakers/molly-mob-min.png    1x,
              ./images/speakers/molly-mob@2x-min.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/speakers/molly-mob@2x-min.png"
            alt="woman with cake"
            loading="lazy"
          />
        </picture>
        <h3 class="speakers__subtitle">Molly Rivera</h3>
        <p class="speakers__paragraph">
          Pastry chef, master chocolatier of Spain
        </p>
      </li>
      <li class="speakers__item">
        <picture>
          <source
            srcset="
              ./images/speakers/sophia-desk-min.png    1x,
              ./images/speakers/sophia-desk@2x-min.png 2x
            "
            media="(min-width: 1280px)"
            width="288"
            height="305"
          />
          <source
            srcset="
              ./images/speakers/sophia-tab-min.png    1x,
              ./images/speakers/sophia-tab@2x-min.png 2x
            "
            media="(min-width: 768px)"
            width="152"
            height="160"
          />
          <source
            srcset="
              ./images/speakers/sophia-mob-min.png    1x,
              ./images/speakers/sophia-mob@2x-min.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/speakers/sophia-mob@2x-min.png"
            alt="a woman packs sweets"
            loading="lazy"
          />
        </picture>
        <h3 class="speakers__subtitle">Sophia Clark</h3>
        <p class="speakers__paragraph">Сulinary school pastry chef</p>
      </li>
      <li class="speakers__item">
        <picture>
          <source
            srcset="
              ./images/speakers/isabella-desk-min.png    1x,
              ./images/speakers/isabella-desk@2x-min.png 2x
            "
            media="(min-width: 1280px)"
            width="288"
            height="305"
          />
          <source
            srcset="
              ./images/speakers/isabella-tab-min.png    1x,
              ./images/speakers/isabella-tab@2x-min.png 2x
            "
            media="(min-width: 768px)"
            width="152"
            height="160"
          />
          <source
            srcset="
              ./images/speakers/isabella-mob-min.png    1x,
              ./images/speakers/isabella-mob@2x-min.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/speakers/isabella-mob@2x-min.png"
            alt="a woman eats marmalade"
            loading="lazy"
          />
        </picture>
        <h3 class="speakers__subtitle">Isabella Taylor</h3>
        <p class="speakers__paragraph">
          Сonsultant in the art of confectionery
        </p>
      </li>
      <li class="speakers__item">
        <picture>
          <source
            srcset="
              ./images/speakers/evelyn-desk-min.png    1x,
              ./images/speakers/evelyn-desk@2x-min.png 2x
            "
            media="(min-width: 1280px)"
            width="288"
            height="305"
          />
          <source
            srcset="
              ./images/speakers/evelyn-tab-min.png    1x,
              ./images/speakers/evelyn-tab@2x-min.png 2x
            "
            media="(min-width: 768px)"
            width="152"
            height="160"
          />
          <source
            srcset="
              ./images/speakers/evelyn-mob-min.png    1x,
              ./images/speakers/evelyn-mob@2x-min.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./images/speakers/evelyn-mob@2x-min.png"
            alt="a woman with two chocolates"
            loading="lazy"
          />
        </picture>
        <h3 class="speakers__subtitle">Evelyn Miller</h3>
        <p class="speakers__paragraph">Master- chocolatier in Spain</p>
      </li>
    </ul>
  </div>
</section>

<!-- width="130"
            height="141" -->
