.button {
  display: inline-block;
  width: 145px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: $white-color;
  background: $accent-color;
  box-shadow: 10px 15px 25px rgba(232, 183, 183, 0.45);
  border: none;
  border-radius: 25px;
  cursor: url('/src/images/donut-mause.png'), pointer;
  transition: background-color, 250ms, easy;

  &:hover,
  &:focus {
    background-color: $white-color;
    border: 1px solid $accent-color;
    color: $accent-color;
  }
  &:active {
    box-shadow: 10px 15px 25px rgba(232, 183, 183, 0.45),
      inset 0px 4px 4px rgba(107, 66, 66, 0.25);
  }
}
