.aboutus {
  padding-top: 20px;
  padding-bottom: 18px;
  @media screen and (min-width: 768px) {
    padding-bottom: 29px;
    padding-top: 36px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 17px;
    padding-top: 43px;
  }
}
.aboutus__container {
  display: block;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
// .aboutus_wrapper {
// }
.aboutus__title {
  margin-bottom: 8px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  color: $text-color;
  @media screen and (min-width: 768px) {
    text-align: left;
    margin-bottom: 28px;
    font-size: 32px;
    line-height: 39px;
  }
}
.aboutus__text {
  line-height: 1.25;
  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (min-width: 1280px) {
    width: 608px;
    font-size: 18px;
    line-height: 22px;
  }
}
.aboutus__img {
  display: block;
  width: 280px;
  height: 285px;

  @media screen and (max-width: 767px) {
    margin-bottom: 28px;
  }
  @media screen and (min-width: 768px) {
    width: 336px;
    height: 359px;
    margin-right: 31px;
  }
  @media screen and (min-width: 1280px) {
    width: 608px;
    height: 381px;
    margin-right: 32px;
  }
}
.aboutus_button {
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 22px;
  }
  @media screen and (min-width: 1280px) {
    display: none;
  }
}

// .visually-hidden {
//   position: absolute;
//   width: 0px;
//   height: 1px;
//   margin: -1px;
//   border: 0;
//   padding: 0;
//   white-space: nowrap;
//   clip-path: inset(100%);
//   clip: rect(0 0 0 0);
//   overflow: hidden;

// }

.visually-hidden {
  display: none;

  @media screen and (min-width: 1280px) {
    display: block;
  }
}
