.container__contact {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    height: 289px;
    width: 394px;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  height: 268px;

  background-image: url(../images/Registration/Decor-contacts-mob.svg);
}

<<<<<<< HEAD
<<<<<<< HEAD
p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
=======
=======
>>>>>>> main
.contact-text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
>>>>>>> main
}

.contact-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  color: rgba(0, 0, 0, 1);
  z-index: 10;
  width: 100%;
}

.social-media__link {
  &:not(:last-child) {
    margin-right: 16px;
  }
}

.social-media__icon {
  fill: $text-color;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  &:active {
    fill: $accent-color;
  }
}
