footer{
    margin-top: 40px;
}


footer ul{
    display: flex;
    justify-content: center;
    
}

.small-donuts-pic{
    width: 77px;
    height: 51px;
    background-image: url(../images/Registration/footer-donuts-mob-min.jpg);
background-repeat: no-repeat;
background-size: cover;

}