.hero {
  background-image: url('./../images/header-hero/hero-background__mobile.png');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 312px;
  @media screen and (min-width: 480px) and (max-width: 768px) {
    background-size: 480px;
  }
  @media screen and (min-width: 768px) {
    background-size: contain;
    background-image: url('./../images/header-hero/hero-background.jpg');
    height: 345px;
  }
  @media screen and (min-width: 1280px) {
    background-size: contain;
    height: 556px;
  }
}

.hero__container {
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    top: 98px;
    align-items: flex-start;
  }
  @media screen and (min-width: 1280px) {
    top: 171px;
  }
}

.hero__title {
  margin-bottom: 18px;
  text-align: center;
  font-family: $montserrat;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: $text-color;
  @media screen and (min-width: 768px) {
    width: 319px;
    font-size: 30px;
    margin-bottom: 10px;
    letter-spacing: 0em;
    text-align: left;
  }
  @media screen and (min-width: 1280px) {
    width: 757px;
    margin-bottom: 20px;
    font-size: 60px;
  }
}

.hero__subtitle {
  margin-bottom: 28px;

  font-family: $montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25em;

  color: $text-color;
  @media screen and (min-width: 768px) {
    margin-bottom: 24px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 28px;
  }
}

.hero__button {
  margin-bottom: 28px;
  @media screen and (min-width: 768px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;
  }
}

.social-media__link {
  &:not(:last-child) {
    margin-right: 16px;
  }
}

.social-media__icon {
  fill: $text-color;
  &:hover,
  &:focus {
    fill: $accent-color;
  }
  &:active {
    fill: $accent-color;
  }
}
