.speakers {
  padding-top: 17px;
  padding-bottom: 20px;
  @media screen and (min-width: 768px) {
    padding-top: 22px;
    padding-bottom: 38px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.speakers__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media screen and (max-width: 767px) {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    gap: 0;
  }
}

.speakers__item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }
}

.speakers__item:hover {
  animation: bounce 0.6s;
}
@keyframes bounce {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: rotateX(20deg) translateY(2px) rotate(-3deg);
  }
  50% {
    transform: translateY(-20px) rotate(3deg) scale(1.1);
  }
}

.speakers__item {
  flex-basis: calc((100% - 20px * (2 - 1)) / 2);
}

.speakers__title {
  font-family: $montserrat;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;

  color: $text-color;

  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    font-family: $montserrat;

    font-weight: 500;
    font-size: 32px;
    line-height: 1.22;

    margin-bottom: 20px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 5px;
  }
}

.speakers__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;

  text-align: center;

  color: $text-color;

  margin: 12px 0;

  @media screen and (min-width: 768px) {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;

    margin: 20px 0;
  }
}

.speakers__paragraph {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;

  color: $text-color;
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
  }

  @media screen and (min-width: 1280px) {
    font-weight: 500;
    font-size: 16px;
  }
}
