.speakers {
  padding-top: 34px;

  background-image: url(../images/speakers/bgc-speakers-desk.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  @media screen and (min-width: 768px) {
    padding-top: 44px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 100px;

    background-image: url(../images/speakers/bgc-speakers-desk.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
  }
}
.speakers__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
    gap: 0;
  }
}

.speakers__item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }
}

.speakers__item {
  flex-basis: calc((100% - 20px * (2 - 1)) / 2);
}

.speakers__title {
  font-family: $montserrat;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;

  color: $text-color;

  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    font-family: $montserrat;

    font-weight: 500;
    font-size: 32px;
    line-height: 1.22;

    margin-bottom: 20px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 5px;
  }
}

.speakers__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;

  text-align: center;

  color: $text-color;

  margin: 12px 0;

  @media screen and (min-width: 768px) {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;

    margin: 20px 0;
  }
}

.speakers__paragraph {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;

  color: $text-color;
  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.21;
  }

  @media screen and (min-width: 1280px) {
    font-weight: 500;
    font-size: 16px;
  }
}
